* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    margin: auto;
    max-width: 1920px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.blue {
    background-color: #255ee9;
}

.discord-color {
    background-color: #7289da;
}

.discord-black {
    background-color: #23272a;
    color: white;
}

#center-text {
    text-align: center;
}

#left-text {
    text-align: start;
}

.testo-small-style {
    font-size: 1.55rem;
    line-height: 2.5rem;
}

.main-content-disp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20rem;
}

.testo-disp {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-padding {
    padding-left: 4.5rem;
    width: 30%;
}

.img-main {
    width: calc(70%-4.5rem);

}

.h-style {
    font-size: 4rem;
    padding-bottom: 2rem;
}

button {
    padding: .7rem 1.3rem;
    border-radius: 2rem;
    border: none;
    margin: 0;
    font-size: 1.3rem;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

li {
    color: white;
    padding-top: 1rem;
}

/*! inizio regole a se*/
.barra-navigazione {
    align-items: center;
    padding: 2rem 3rem;
    margin: 0 10rem;
}

.main-logo {
    width: 10rem;
}

.conteiner {
    display: flex;
    justify-content: center;
}

.tasti-menù {
    padding: 0 2rem;
    font-size: 1.2rem;
}

.jumbo {
    background-image: url(../Img/jumbo.png);
    background-size: cover;
}

.introduzione {
    justify-content: center;
    align-items: center;
    margin: 12rem 30rem 7.6rem 30rem;
    color: white;
}

h1 {
    padding-top: 1rem;
}

.bottoni-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 1rem;
}

.bottone-intro {
    margin: 1rem;
    font-size: 1.5rem;
}

span {
    font-size: 2rem;
    padding-right: .5rem;
}

.img-last-main {
    width: 90rem;
}

#last-testo-disp {
    padding: 0;
    text-align: center;
}

.h-style-small {
    font-size: 2.5rem;
    padding: 3rem 3rem 0 3rem;
    background-image: url(../Img/stars.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.last-main-button {
    margin: 3rem 15rem 10rem 15rem;
}

.bot-nav {
    margin: 0 10rem;
    padding-top: 5rem;
}

.end {
    border-top: .15rem solid #4c5a87;
    padding: 1.5rem 1.5rem 3.5rem 1.5rem;
    margin: 3rem 10rem 0 10rem;
    display: flex;
    justify-content: space-between;
}