* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    margin: auto;
    max-width: 1920px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.blue {
    background-color: #255ee9;
}

.discord-color {
    background-color: #7289da;
}

.text-discord-color {
    color: #7289da;
}

.discord-black {
    background-color: #23272a;
    color: white;
}

#center-text {
    text-align: center;
}

#left-text {
    text-align: start;
}

.testo-small-style {
    font-size: 1.55rem;
    line-height: 2.5rem;
}

.main-content-disp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10rem 9rem 0 9rem;

}

.testo-disp {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.padding {
    padding: 0 3rem 0 0;
    width: 35%;
}

.img-main {
    width: 50%
}

.h-style {
    font-size: 4rem;
    padding-bottom: 2rem;
}

button {
    padding: .7rem 1.3rem;
    border-radius: 2rem;
    border: none;
    margin: 0;
    font-size: 1.3rem;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}


li {
    color: white;
    padding-top: 1rem;
}

/*! inizio regole a se*/
.barra-navigazione {
    align-items: center;
    padding: 2rem 3rem;
    margin: 0 10rem;
}

.main-logo {
    width: 10rem;
}

.conteiner {
    display: flex;
    justify-content: center;
}

.tasti-menù {
    padding: 0 2rem;
    font-size: 1.2rem;
}

.jumbo {
    background-image: url(../Img/jumbo.png);
    background-size: cover;
    background-position: center center;
}

.introduzione {
    justify-content: center;
    align-items: center;
    margin: 12rem 30rem 4.8rem 30rem;
    color: white;
}

h1 {
    padding-top: 1rem;
}

.bottoni-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 1rem;
}

.bottone-intro {
    margin: 1rem;
    font-size: 1.5rem;
}

span.freccia {
    font-size: 2rem;
    padding-right: .5rem;
    vertical-align: middle;
}

.img-last-main {
    width: 95rem;
}

.last-testo-disp {
    padding: 0 9rem;
    text-align: center;
}

.h-style-small {
    font-size: 2.5rem;
    padding: 3rem 5rem 0 5rem;
    background-image: url(../Img/stars.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.h-style-last {
    font-size: 3.7rem;
    padding-bottom: 2rem;
}

.testo-small-style-last {
    font-size: 1.55rem;
    line-height: 2.5rem;
    padding: 0 3rem;
}

#nomargin {
    margin: 0;
}

.last-main-button {
    margin: 3rem 18rem 10rem 18rem;
    color: white;
    font-size: 1.5rem;
}

.bot-nav {
    margin: 0 13rem;
    padding-top: 5rem;
    display: flex;
}

.contenitore-lingua-social {
    padding-right: 5rem;
}

span.lingua {
    padding: 0 .5rem;
}

i {
    padding: 0 1rem 0 0;
    font-size: 1.5rem;
}

footer div>p {
    padding: 1.5rem 0;
}

.lista-end {
    width: 100%;
}

footer li {
    font-size: 1rem;
}

footer h2 {
    font-size: 2.5rem;
}

.end {
    border-top: .15rem solid #4c5a87;
    padding: 1.5rem 0 3.5rem 0;
    margin: 3rem 13rem 0 13rem;
    display: flex;
    justify-content: space-between;
}

.end button {
    color: white;
}

[alt=bandiera-italiana] {
    width: 1.7rem;
    text-align: center;
    vertical-align: middle;
}

.fa-solid {
    font-size: 1rem;
}